* {
  font-family: 'Roboto', sans-serif;
}

.title,
.title * {
  font-family: 'Pacifico', cursive;
}

#cabecalho {
  background-color: #e15f41;
}

#cabecalho .navbar-brand.title,
#cabecalho .nav-link {
  color: #fff;
}

#cabecalho .nav-link.active {
  color: #e15f41;
  background-color: #fff;
}

.navbar-toggler {
  background-color: #fff;
}

.text-colored {
  color: #e15f41;
}

#carousel img {
  max-height: 760px;
  object-fit: cover;
}

#sobre {
  background-color: #ffeae6;
}